<h3>投稿</h3>

<%= form_with model: @movie, url: public_movies_path(current_user), method: :post do |f| %>


 <h4>映画タイトル</h4>
  <%= f.text_field :title %>
 <h4>映画情報</h4>
  <%= f.text_field :body %>
  <br><br>
  <%= f.submit '投稿する' %>

<% end %>
