<h2>ユーザーから投稿頂いた映画情報を掲載してます。気になっている映画の参考にどうぞ。</h2>


<% @movies.each do |movie| %>
<%= movie.title %>
<%= movie.body %>

<div id="favorite_buttons_<%= movie.id %>">
<%= render "public/favorites/favorite", movie: movie %>
</div>
<% end %>

