<div class="container">
  <div class="row">
     <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-4">
          <br><br>
        <h2><%= link_to "映画の情報を投稿する", new_public_movie_path %></h2>
        <h2><%= link_to "映画の感想を投稿する", new_public_film_path %></h2>
     </div>
   </div>
</div>

