<h2>検索結果</h2>

<table class="table table-hover table-inverse">

  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @movies.each do |movie| %>
       <%= movie.user.name %>
       <%= movie.title %>
       <%= movie.body %>
      <% end %>
    </tbody>
  <% end %>
</table>