<div class="mx-auto">
  <h1 style="font-size: 40px;">いいね一覧</h1>
</div>

<% @filmfavorites_fims.each do |film|%>
 <div class="container">
    <div class="row">
      <div class="card" style="width: 1000px; height: 150px; border: 2px solid; margin: 10px;">
          <%=film.title %><br>
          <%=film.body %>

      </div>
    </div>
  </div>
<% end %>